{% extends 'base.html.twig' %}

{% block title %}{{ parent()}}{% endblock %}

{% block body %}
    <div class="container">
        <h1>Bienvenue sur Check-Tes-Comptes</h1>
    </div>


{% endblock %}
