<footer class="bg-primary text-white border-top mt-4 text-center">
    <div class="my-3">logo</div>
    <div>
        <ul class="nav my-3 align-items-center justify-content-center">
            <li><a href="{{ path('app_accueil') }}" class="nav-link px-2 link-light">Accueil</a></li>
            <li><a href="{{ path('app_accueil') }}" class="nav-link px-2 link-light">Administration</a></li>
            <li><a href="{{ path('app_accueil') }}" class="nav-link px-2 link-light">Profil</a></li>
        </ul>
    </div>
</footer>